<html>
    <head>
        <title>Seat status</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
    </head>

    <body>
        <form id="display-form" action="{{ url_for('seat') }}" method="POST">
            <label for="lab"></label>
            <h1 id="form-heading">Which time slot you want to see?</h1>
            <select name="lab">
                {% for lab_options in lab %}
                    <option value="{{ lab_options.id }}">{{ lab_options.slots }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>

        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Email</th>
            </tr>
            <tr>
                {% for student in students %}
                    <td>{{ student.name }}</td>
                    <td>{{ student.id }}</td>
                    <td>{{ student.email }}</td>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>